---
layout: layout.njk
---
{% import 'macros.njk' as macros with context %}

<div>
    <div class="bg-top bg-cover bg-no-repeat bg-fixed overflow-auto md:h-headerxl h-headersm " style="background-image: url('/assets/images/banner_1.jpg');"></div>

    <div class="container mx-auto flex items-center justify-center mb-8 pt-6">
        <div class="">
            <div class="py-8 md:text-5xl text-2xl font-black text-gray-700 bg-white">
                {{ translations[locale][title] }}
            </div>
            <div class="mt-6">
            {{content | safe}}
        </div>
        </div/>
    </div>
</div>
