---
layout: layout.njk
---
{% import '_includes/macros.njk' as macros with context %}

<div>
    <div class="bg-top bg-cover bg-no-repeat bg-fixed overflow-auto md:h-headerxl h-headersm" style="background-image: url('/assets/banner_1.jpg');">
</div>
<div class="container">
<article class="prose prose-lg px-8 mx-auto bg-white">
    <h1 class="py-8"> {{pageTitle}}</h1>
    {{content | safe}}
</article/>
</div>
