<footer class="text-gray-700 bg-white border-t body-font">
    <div>
      <div class="container flex flex-col flex-wrap px-5 py-6 lg:px-20 sm:flex-row">
        <div class="flex flex-wrap items-center justify-center text-base">
          <a href="https://www.wiwi.ruhr-uni-bochum.de/empwifo/index.html.en" target="_blank" justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700">Ruhr-Universität Bochum </a>
        </div>
        <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-end">
          <p class="mr-5 text-sm text-center text-gray-200">
            Leon Mrosewski
          </p>
        </span>
        <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-end">
          <button class="bg-blue hover:bg-blue-dark text-black font-bold py-2 px-4 rounded"></button>
        </span>
      </div>
    </div>
  </footer>