<nav class="flex items-center justify-between flex-wrap bg-teal p-6 border-b z-10">
    <div class="flex flex-row flex-grow justify-between">
        <div class="flex items-center flex-no-shrink mr-6">
            <span class="font-semibold md:text-3xl sm:text-xl overflow-ellipsis tracking-tight">
                <a href="/">
                    Empirische Wirtschaftsforschung
                </a>
            </span>
        </div>
        <div class="block xl:hidden justify-end">
            <button id="nav-toggle"
                class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
                <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="w-full block flex-grow xl:flex lg:items-center xl:w-auto hidden xl:block" id="nav-content">
        <ul class="list-reset xl:flex justify-end flex-1 items-center ml-4 mt-2  divide-y divide-gray-300 xl:divide-y-0">
            <li class="mr-3">
                {{ macros.menuItem2("Home", "", "home") }}
            </li>
            <li class="mr-3">
                {{ macros.menuItem2("Forschung", "forschung", "research") }}
            </li>
            <li class="mr-3">
                {{ macros.menuItem2("Lehre", "lehre", "teaching") }}
            </li>
            <li class="mr-3">
                {{ macros.menuItem2("Kontakt", "kontakt", "mail") }}
            </li>
        </ul>
    </div>
</nav>
<script>
    document.getElementById("nav-toggle").onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
    };
</script>