{# --------------------------- #}
{# UI macros                   #}
{# --------------------------- #}

{% macro image(src, alt, size) %}
{% set size_class = "" %}

{% if size == "small" %}
    {% set size_class = "md:h-32 md:float-right md:ml-8" %}
{% elif size == "medium" %}
    {% set size_class = "md:h-60 md:float-right md:ml-8" %}
{% endif %}
<img class="rounded-md {{size_class}}" src="{{src}}" alt="{{alt}}">
{% endmacro %}

{% macro getUIelem(slug, icon_type, textClass="") %}
<span class="flex items-center py-2">
    {% if icon_type != "None" %}
    <div class="mr-1 lg:mr-1">
        {{ icon(icon_type) }}
    </div>
    {% endif %}
    <div class="block lg:my-0 sm:my-2 text-xl text-teal-lighter w-full {{textClass}}">
        {{ getTranslation(slug) }}
    </div>
</span>
{% endmacro %}

{% macro icon(type, classes="") %}
    {% set icon = "/assets/ui/home.svg" %}

    {% if type == "home" %}
        {% set icon = "/assets/ui/home.svg" %}
    {% elif type == "research" %}
        {% set icon = "/assets/ui/academic.svg" %}
    {% elif type == "teaching" %}
        {% set icon = "/assets/ui/teaching.svg" %}
    {% elif type == "contact" %}
        {% set icon = "/assets/ui/mail.svg" %}
    {% elif type == "web" %}
        {% set icon = "/assets/ui/web.svg" %}
    {% elif type == "phone" %}
        {% set icon = "/assets/ui/phone.svg" %}        
    {% elif type == "mail" %}
        {% set icon = "/assets/ui/mail.svg" %}
    {% elif type == "language" %}
        {% set icon = "/assets/ui/language.svg" %}
    {% elif type == "right_arrow" %}
        {% set icon = "/assets/ui/right_arrow.svg" %}
    {% elif type == "expand_arrow" %}
        {% set icon = "/assets/ui/expand_arrow.svg" %}
    {% elif type == "collapse_arrow" %}
        {% set icon = "/assets/ui/collapse_arrow.svg" %}
    {% else %}
        {% set icon = "/assets/ui/home.svg" %}
    {% endif %}

<img src={{icon}} class="h-6 w-6 {{classes}}">
{% endmacro %}

{# --------------------------- #}



{# --------------------------- #}
{# Header menu macros          #}
{# --------------------------- #}

{% macro menuItem(name, link, icon_type, textClass="") %}
{% set slug = getSlug(link)  | trim  %}
<a href="/{{locale}}/{{slug}}" class="block xl:ml-1 lg:inline-block lg:my-0 sm:my-2 text-xl text-teal-lighter md:hover:text-gray-400 xl:mr-4 w-full">
    <span class="flex items-center py-2">
        {% if icon_type != "None" %}
        <div class="mr-1 lg:mr-1">
            {{ icon(icon_type) }}
        </div>
        {% endif %}
        <div class="{{textClass}}">
            {{ getTranslation(name) }}
        </div>
    </span>
</a>
{% endmacro %}

{# --------------------------- #}



{# --------------------------- #}
{# Contact subsite macros      #}
{# --------------------------- #}

{% macro generate_contact_entry(data) %}
<div class="col-auto"> 
    <div class="flex flex-row">
        {% if data.image %}
            <img src="{{data.image}}" class="object-scale-down h-10 object-left">
        {% else %}
            <h1 class="lg:text-2xl text-xl font-bold">{{data.title}}</h1>
        {% endif %}
    </div>
    <div class="flex mb-10">
        <table class="table-auto mt-2 divide-y divide-gray-900">
            <tbody class="bg-white divide-y divide-gray-300">
                {% if data.adress %}
                    {{ generateTableRow(data.adress, "home") }}
                {% endif %}

                {% if data.mail %}
                    {{ generateTableRow(data.mail, "mail", "mail") }}
                {% endif %}

                {% if data.phone %}
                    {{ generateTableRow(data.phone, "phone", "phone") }}
                {% endif %}

                {% if data.web %}
                    {{ generateTableRow(data.web, "web", "web", "Website") }}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro generateTableRow(data, icon_type, link="", link_text="") %}
<tr>
    <td class="px-6 py-4 whitespace-nowrap">
        <span class="flex">
            {{ icon(icon_type, "mr-4 align-top") }}
            {% if link == "web" %}
                <a href="{{data | striptags(true) | escape | nl2br }}" class="underline hover:text-blue-700" target="_blank">{{link_text}}</a>
            {% elif link == "phone" %}
                <a href="tel: {{data | striptags(true) | escape | nl2br }}" class="underline hover:text-blue-700">{{data}}</a>
            {% elif link == "mail" %}
                <a href="mailto: {{data | striptags(true) | escape | nl2br }}" class="underline hover:text-blue-700">{{data}}</a>
            {% else %}
                {{ data | striptags(true) | escape | nl2br}}
            {% endif %}
        </span>
    </td>
</tr>
{% endmacro %}

{# --------------------------- #}


{# --------------------------- #}
{# header card macros      #}
{# --------------------------- #}

{% macro grid_short_info(data) -%}
{% set number_grid = data[locale] | length %}
{% set number_batch = data[locale] | batch(3) | length %}
<div class="sm:flex sm:flex-col mt-10">
{% set hidden_class_b = "" %}
{% set hidden_class_i = "" %}
{% set item_index = 0 %}
{% for batch_items in data[locale] | batch(3) %}
    <div class="flex flex-col sm:flex-row sm:space-x-4 sm:space-y-0 space-y-4 my-2 xl:mx-60 lg:mx-28 md:mx-12 mx-10 overflow-x-auto relative sm:{{hidden_class_b}}" id="batch-{{loop.index}}">
        {% for item in batch_items %}
            {% set item_index = item_index + 1 %}
            <div class="border-2 rounded-md pt-2 min-w-full {{hidden_class_i}} sm:block min-h-full sm:min-w-1/{{batch_items | length}} sm:px-5 relative" id="card-{{item_index}}">
                <div class="flex justify-center">
                    {% if item.image %}
                        <a href="{{item.href | trim }}" target="_blank">
                            {% if item.href %}        
                                <img src="{{item.image}}" class="object-scale-down h-12">
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
                <div class="flex flex-col justify-center px-4 py-5 mb-8">
                    {% if item.name %}
                        <h1 class="font-medium pb-2">{{item.name}}</h1>
                    {% endif %}
                    {% if item.name %}
                        <p>{{item.short}}</p>    
                    {% endif %}
                </div>
                <div class="absolute bottom-0 right-0 mr-4 mb-4">
                    {% if item.href %}
                        <a href="{{item.href | trim }}" target="_blank">
                            {{ icon("web") }}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% set hidden_class_i = "hidden" %}
        {% endfor %}
    </div>
    {% set hidden_class_b="hidden" %}
{% endfor %}
</div>
<div class="items-center justify-center flex-col mt-2">
    <div class="flex justify-center items-center">
        {% if number_grid > 1 %}
            <a class="sm:hidden" onclick="toggle_class(this, 'card', 'hidden', {{ number_grid }} )">
                {{ icon("expand_arrow") }}
                {{ icon("collapse_arrow", "hidden") }}
            </a>
        {% endif %}
        {% if number_batch > 1 %}
            <a class="hidden sm:block" onclick="toggle_class(this, 'batch', 'sm:hidden', {{ number_batch }} )">
                {{ icon("expand_arrow") }}
                {{ icon("collapse_arrow", "sm:hidden") }}
            </a>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{# --------------------------- #}



{# --------------------------- #}
{# Slug and translation macros #}
{# --------------------------- #}

{% macro getTranslation(key) %}
    {% if translations[locale][key] %}
        {{ translations[locale][key] }}
    {% else %}
        {{ key }}
    {% endif %}
{% endmacro %}

{% macro getSlug(key) %}
    {% if translations[locale][key] %}
        {{slugs[locale][key] | trim }}
    {% else %}
        {{key | trim}}
    {% endif %}
{% endmacro %}

{# --------------------------- #}
