{# --------------------------- #}
{# UI macros                   #}
{# --------------------------- #}

{% macro image(src, alt, size) %}
{% set size_class = "" %}

{% if size == "small" %}
    {% set size_class = "md:h-32 md:float-right md:ml-8 px-12 sm:px-0" %}
{% elif size == "medium" %}
    {% set size_class = "md:h-60 md:float-right md:ml-8 px-12 sm:px-0" %} 
{% endif %}

{% set src_opt %}{% ImageSync src %}{% endset %}
<img class="rounded-md {{size_class}}" src="{{ src_opt }}" alt="{{alt}}">
{% endmacro %}

{% macro getUIelem(slug, icon_type, textClass="") %}
<span class="flex items-center py-2">
    {% if icon_type != "None" %}
    <div class="mr-1 lg:mr-1 h-6 w-6">
        {{ icon(icon_type) }}
    </div>
    {% endif %}
    <div class="block lg:my-0 sm:my-2 text-xl text-teal-lighter w-full {{textClass}}">
        {{ getTranslation(slug) }}
    </div>
</span>
{% endmacro %}

{% macro icon(type, classes="") %}
    {% set icon = "/assets/ui/home.svg" %}

    {% if type == "home" %}
        {% set icon = "/assets/ui/home.svg" %}
    {% elif type == "research" %}
        {% set icon = "/assets/ui/academic.svg" %}
    {% elif type == "teaching" %}
        {% set icon = "/assets/ui/teaching.svg" %}
    {% elif type == "contact" %}
        {% set icon = "/assets/ui/mail.svg" %}
    {% elif type == "web" %}
        {% set icon = "/assets/ui/web.svg" %}
    {% elif type == "phone" %}
        {% set icon = "/assets/ui/phone.svg" %}        
    {% elif type == "mail" %}
        {% set icon = "/assets/ui/mail.svg" %}
    {% elif type == "language" %}
        {% set icon = "/assets/ui/language.svg" %}
    {% elif type == "right_arrow" %}
        {% set icon = "/assets/ui/right_arrow.svg" %}
    {% elif type == "expand_arrow" %}
        {% set icon = "/assets/ui/expand_arrow.svg" %}
    {% elif type == "arrow_up" %}
        {% set icon = "/assets/ui/arrow_up.svg" %}
    {% elif type == "collapse_arrow" %}
        {% set icon = "/assets/ui/collapse_arrow.svg" %}
    {% elif type == "rss" %}
        {% set icon = "/assets/ui/rss.svg" %}
    {% elif type == "arrow_right" %}
        {% set icon = "/assets/ui/arrow_right.svg" %}
    {% elif type == "arrow_left" %}
        {% set icon = "/assets/ui/arrow_left.svg" %}
    {% else %}
        {% set icon = "/assets/ui/home.svg" %}
    {% endif %}

<div class="{{classes}}">
    {{icon | inlineSVG | safe }}
</div>
{% endmacro %}

{# --------------------------- #}



{# --------------------------- #}
{# Header menu macros          #}
{# --------------------------- #}

{% macro menuItem(name, link, icon_type, textClass="") %}
{% set slug = getSlug(link)  | trim  %}
<a href="/{{locale}}/{{slug}}" class="block lg:ml-1 lg:inline-block lg:my-0 sm:my-3 text-xl text-teal-lighter md:hover:text-gray-400 lg:mr-4 w-full">
    <span class="flex items-center py-2">
        {% if icon_type != "None" %}
        <div class="mr-1 lg:mr-1 w-6 h-6">
            {{ icon(icon_type) }}
        </div>
        {% endif %}
        <div class="{{textClass}}">
            {{ getTranslation(name) }}
        </div>
    </span>
</a>
{% endmacro %}

{# --------------------------- #}



{# --------------------------- #}
{# Contact subsite macros      #}
{# --------------------------- #}

{% macro generate_contact_entry(data) %}
<div class="col-auto"> 
    <div class="flex flex-row">
        {% if data.image %}
            <img src="{% ImageSync data.image %}" class="object-scale-down h-10 object-left">
        {% else %}
            <h1 class="lg:text-2xl text-xl font-bold">{{data.title}}</h1>
        {% endif %}
    </div>
    <div class="flex mb-10">
        <table class="table-auto mt-2 divide-y divide-gray-900">
            <tbody class="bg-white divide-y divide-gray-300">
                {% if data.adress %}
                    {{ generateTableRow(data.adress, "home") }}
                {% endif %}

                {% if data.mail %}
                    {{ generateTableRow(data.mail, "mail", "mail") }}
                {% endif %}

                {% if data.phone %}
                    {{ generateTableRow(data.phone, "phone", "phone") }}
                {% endif %}

                {% if data.web %}
                    {{ generateTableRow(data.web, "web", "web", "Website") }}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro generateTableRow(data, icon_type, link="", link_text="") %}
<tr>
    <td class="px-6 py-4 whitespace-nowrap">
        <span class="flex">
            <div class="w-6 h-6 mr-4 align-top">
                {{ icon(icon_type) }}
            </div>
            {% if link == "web" %}
                <a href="{{data | striptags(true) | escape | nl2br }}" class="underline hover:text-blue-700" target="_blank">{{link_text}}</a>
            {% elif link == "phone" %}
                <a href="tel: {{data | striptags(true) | escape | nl2br }}" class="underline hover:text-blue-700">{{data}}</a>
            {% elif link == "mail" %}
                <a href="mailto: {{data | striptags(true) | escape | nl2br }}" class="underline hover:text-blue-700">{{data}}</a>
            {% else %}
                {{ data | striptags(true) | escape | nl2br}}
            {% endif %}
        </span>
    </td>
</tr>
{% endmacro %}

{# --------------------------- #}


{# --------------------------- #}
{# info card macros          #}
{# --------------------------- #}

{% macro info_cards(data) %}
{% set title = "" %}
{% if data.settings.title %}
    {% if data.settings.title[locale] %}
        {% set title = data.settings.title[locale] %}
    {% endif %}
{% endif %}

{% set loc_data = data[locale] %}
{% set margin_top = "2" %}

{% if not data[locale] | length %}
    {% if data[fallback] | length %}
        {% set loc_data = data[fallback] %}
    {% else %}
        {% set margin_top = "0" %}
    {% endif %}
{% endif %}

{% if data.settings.position == "bottom" %}
    {% set margin_bottom = 5 %}
{% else %}
    {% set margin_bottom = 0 %}
{% endif %}

{% set batch_size = 3 %}
{% if data.settings.items_per_row %}
    {% set batch_size = data.settings.items_per_row %}
{% endif %}

{% if title != "" and loc_data | length > 0 %}
    <div class="container mx-auto flex items-center justify-center pt-8 md:text-3xl text-2xl font-black text-gray-700 bg-white {{visibility}}">
        {{ title }}
    </div>
{% endif %}

<div class="flex lg:flex-wrap flex-grow flex-nowrap justify-start lg:justify-center mt-{{margin_top}} mb-{{margin_bottom}} mb-5 mx-4 md:mx-28 overflow-x-hidden"
    id="info_card_container">
{% set item_index = 0 %}

{% for batch_data in loc_data | batch(batch_size) %}
    {% for item in batch_data %}
        {% set item_index = item_index + 1 %}
        {% set min_w_css_xl = "max-w-1/" + batch_size %}
        {% set min_w_css_lg = "max-w-1/" + batch_data | length %}
        {% if item_index == 1 %}
            {% set active = "active" %}
        {% else %}
            {% set active = "" %}
        {% endif %}

        <div class="info-card-item-style lg:{{min_w_css_lg}} xl:{{min_w_css_xl}} px-2 pb-5 {{active}}" id="infocard-{{item_index}}">
            <div class="box_style relative min-h-full px-0 md:px-4 pt-4">
                <div class="flex justify-start px-4 mt-3">
                    {% if item.href %}
                        <a href="{{item.href | trim }}" target="_blank">
                            {% if item.image %}
                                <img src="{% ImageSync item.image %}" class="object-scale-down h-12 {{anim_hover_grow(scale='scale-110') }}">
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
                <div class="flex flex-col justify-center px-4 py-5">
                    {% if item.name %}
                        <h1 class="font-black text-xl pb-2">{{item.name}}</h1>
                    {% endif %}
                    {% if item.short %}
                        <p class="mb-8">{{item.short}}</p>
                    {% endif %}
                </div>
                <div class="absolute bottom-0 right-0 mr-4 mb-4 hidden lg:block">
                    {% if item.href and item.short %}
                        <div class="{{anim_hover_grow()}}">
                            <a href="{{item.href | trim }}" target="_blank">
                                <div class="w-6 h-6">
                                    {{ icon("web") }}
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
</div>
<div class="lg:hidden flex flex-row justify-center mt-5 space-x-16 mb-{{margin_bottom}}">
    <div class="w-6 h-6 invisible rounded-full {{anim_hover_grow('bg-blue-200')}}" id="info_card_left">
        {{ icon("arrow_left") }}
    </div>
    <div class="w-6 h-6 rounded-full {{anim_hover_grow('bg-blue-200')}}" id="info_card_right">
        {{ icon("arrow_right") }}
    </div>
</div>
{% endmacro %}

{# --------------------------- #}



{# --------------------------- #}
{# footer link card macros          #}
{# --------------------------- #}

{% macro footer_link(data) %}
{% set loc_data = data[locale] %}
{% set visibility = "" %}
{% if not data[locale] | length %}
    {% if data[fallback] | length %}
        {% set loc_data = data[fallback] %}
    {% else %}
        {% set visibility = "hidden" %}
    {% endif %}
{% endif %}

{% set title = "" %}
{% if data.settings.title %}
    {% if data.settings.title[locale] %}
        {% set title = data.settings.title[locale] %}
    {% else %}
        {% set title = "Links" %}
    {% endif %}
{% endif %}

<div class="container mx-auto flex items-center justify-center pt-8 md:text-3xl text-2xl font-black text-gray-700 bg-white {{visibility}}">
    {{ title }}
</div>
{# "max-w-prose" -> use the same width as the prose container, that holds the markdown text #}
<div class="flex flex-col space-y-4 mx-8 my-8 sm:mx-auto items-center justify-center sm:max-w-prose">
    {% for item in loc_data %}    
        <div class="flex flex-col box_style px-4 py-4 justify-center min-w-full">
            <div class="flex flex-row">
                <a href="{{item.href}}" target="_blank" class="hidden sm:block mr-4 {{anim_hover_grow(scale='scale-110') }} h-6 w-6 sm:h-12 sm:w-12">
                    {% if item.type == "research" %}
                        {{ icon("research") }}
                    {% elif item.type == "teaching" %}
                        {{ icon("teaching") }}
                    {% else %}
                        {{ icon("rss") }}
                    {% endif %}
                </a>
                <div class="flex flex-col w-full">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-row justify-start">
                            <div class="font-black mr-4 text-lg sm:text-xl">
                                {{ item.title }}
                            </div>
                        </div>
                        <div  class=" justify-end {{anim_hover_grow() }}">
                            <a href="{{item.href}}" target="_blank">
                                <div class="w-6 h-6">
                                    {{ icon("web") }}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-row mt-1 justify-between">
                        <div class="text-base sm:text-lg max-w-md">
                            <div class="mr-2">
                                <div class="hidden" id="full_link_{{loop.index}}">
                                    {{ item.short }}
                                </div>
                                <div class="placeholder" id="truncate_link_{{loop.index}}">
                                    {{ item.short | truncate(50) }}
                                </div>
                            </div>
                        </div>
                        <div class="justify-end">
                            <div class="rounded-full w-6 h-6 {{anim_hover_grow('bg-blue-200')}} expandLink" id="link_{{loop.index}}">
                                {{ icon("expand_arrow") }}
                                {{ icon("collapse_arrow", "hidden") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2 flex flex-row justify-center flex-wrap w-full mb-2">
                {% for tag in item.tags %}
                    <div class="mt-2 mx-1 px-2 bg-blue-100 rounded-lg text-sm select-none">
                        {{tag}}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endmacro %}

{# --------------------------- #}





{# --------------------------- #}
{# Slug and translation macros #}
{# --------------------------- #}

{% macro getTranslation(key) %}
    {% if translations[locale][key] %}
        {{ translations[locale][key] }}
    {% else %}
        {{ key }}
    {% endif %}
{% endmacro %}

{% macro getSlug(key) %}
    {% if translations[locale][key] %}
        {{slugs[locale][key] | trim }}
    {% else %}
        {{key | trim}}
    {% endif %}
{% endmacro %}

{# --------------------------- #}



{# --------------------------- #}
{# css presets macros          #}
{# --------------------------- #}

{% macro anim_hover_grow(bg="", scale="scale-125") %}
transition duration-500 ease-in-out transform hover:{{scale}} hover:{{bg}}
{% endmacro %}

{# --------------------------- #}


