---
title: research
pageTitle: translations[locale]["research"]
layout: page_layouts/research_layout.njk
tags: ["content"]
permalink: /{{locale}}/{{slugs[locale]["research"]}}/index.html
---
{% import 'macros.njk' as macros with context %}


{% set websiteContent %}{% include './content.md'  %}{% endset %}
{% markdown websiteContent %}