<nav class="flex items-center justify-between flex-wrap border-b bg-teal z-10 py-6 lg:fixed w-full bg-white">
    <div class="flex lg:flex-row justify-between w-full lg:w-auto pl-6">
        <div class="flex items-center mr-6 ">
            <a href="/{{locale}}">
                <div class="flex flex-row">
                    <img src="/assets/images/logos/ewflogo.png" class="h-12 w-12 object-scale-down m-auto mr-4">
                    <div class="font-semibold md:text-l sm:text-m overflow-ellipsis tracking-tight">
                        {{ macros.getTranslation("title") | trim | replace(" ", "<br>")}}
                    </div>
                </div>
            </a>
        </div>
        <div class="flex lg:hidden justify-end my-auto pr-6">
            <button id="nav-toggle"
                class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
                <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block relative">
        <ul class="menu-list-style menu-fadeOut" id="nav-content">
            <li class="mr-3">
                <div class="{{macros.anim_hover_grow('scale-110')}} w-min">
                    {{ macros.menuItem("home", "", "home") }}
                </div>
            </li>
            <li class="mr-3">
                <div class=" {{macros.anim_hover_grow('scale-110')}} w-min">
                    {{ macros.menuItem("research", "research", "research") }}
                </div>
            </li>
            <li class="mr-3">
                <div class="{{macros.anim_hover_grow('scale-110')}} w-min">
                    {{ macros.menuItem("teaching", "teaching", "teaching") }}
                </div>
            </li>
            <li class="mr-3 lg:hidden">
                <div class=" {{macros.anim_hover_grow('scale-110')}} w-min">
                    {{ macros.menuItem("contact", "contact", "mail") }}
                </div>
            </li>
            <li class="lg:hidden">
                {{macros.getUIelem("language", "language")}}
                <ul class="list-reset justify-end flex-1 items-center ml-4">
                    <li class="ml-4">
                        <div class="{{macros.anim_hover_grow('scale-110')}} w-min">
                            <a href="/de">Deutsch</a>
                        </div>
                    </li>
                    <li class="ml-4 mt-2">
                        <div class="{{macros.anim_hover_grow('scale-110')}} w-min">
                            <a href="/en">English</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="hidden w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block pr-10" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center ml-4 mt-2 divide-y divide-gray-300 lg:divide-y-0">
            <li class="dropdown relative mr-6 {{macros.anim_hover_grow('scale-110')}}">
                {{ macros.icon("language") }}
                <div class="dropdown-menu top-0 absolute left-0 hidden h-auto flex pt-6 mt-4">
                    <ul class="block w-full bg-white text-gray-700 shadow divide-gray-300 divide-y p-b text-xl">
                        <li class="mx-2 py-2 hover:text-gray-400"><a class="block" href="/de">Deutsch</a></li>
                        <li class="mx-2 py-2 hover:text-gray-400"><a class="block" href="/en">English</a></li>
                    </ul>
                </div>
            </li>
            <li class="{{macros.anim_hover_grow('scale-110')}}">
                {{ macros.menuItem("", "contact", "mail") }}
            </li>
        </ul>
    </div>
</nav>
<script>
    document.getElementById("nav-toggle").onclick = function () {
        document.getElementById("nav-content").classList.toggle("menu-fadeIn");
        document.getElementById("nav-content").classList.toggle("menu-fadeOut");
    };
</script>