{% import 'macros.njk' as macros with context %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    {% set src_opt %}{% ImageSync 'src/assets/images/logos/ewflogo.png' %}{% endset %}
    {% set src_opt_fallback %}{{ src_opt | fallbackImage(image_settings["image_fallback_type"]) }}{% endset %}    
    <link rel="shortcut icon" type="image/x-icon" href="{{src_opt_fallback}}" />
    <script src="/scripts/jquery-3.5.1.min.js"></script>
    <script src="/scripts/logic.js"></script>
    <script src="/assets/main.bundle.js" defer></script>
    <title>EWF - {{ translations[locale][title] }}</title>
</head>

<body>
    <div class="flex flex-col justify-between">
        <main class="flex-initial md:overflow-y-auto" id="mainContainer">
            {% include 'base_layouts/header.njk' %}
            <div id="mainpage">
                <div id="banner_images_slider" class="relative lg:h-headerlg md:h-headermd h-headersm">
                {% for banner_img in banner_images.slideshow %}
                    {% set src_opt %}{% ImageSync banner_img.url %}{% endset %}
                    {% set src_opt_fallback %}{{ src_opt | fallbackImage(image_settings["image_fallback_type"]) }}{% endset %}
                    
                    {% set hidden_flag = "hidden" %}
                    {% if loop.index == 1 %}
                        {% set hidden_flag = "active_banner_img" %}
                    {% endif %}
                    <div class="{{hidden_flag}} absolute w-full">
                        <picture>
                            <source srcset="{{ src_opt }}" type="image/webp">
                            <source srcset="{{ src_opt_fallback }}" type="image/jpeg"> 
                            <img class="lg:pt-24 w-full lg:h-headerlg md:h-headermd h-headersm object-cover" src="{{ src_opt_fallback }}" alt="{{alt}}" loading="lazy">
                        </picture>
                        <div class="absolute bottom-0 right-0 mr-2 mb-2 bg-white opacity-70 px-2 rounded-lg md:text-base text-sm">
                            &copy {{banner_img.license}}
                        </div>
                    </div>
                {% endfor %}
                </div>
                {{ content | safe }}
            </div>
            {% include 'base_layouts/footer.njk' %}
        </main>
    </div>
    <div id="button_up_dsk" class="hidden fixed bottom-8 right-10 z-50">
        <button class="bg-blue-300 sm:hover:bg-blue-400 ring-4 ring-blue-200 py-2 px-2 rounded-full focus:outline-none" id="topButton" onclick="topFunction()">
            <div class="w-6 h-6">
                {{macros.icon("arrow_up", size="small")}}
            </div>
        </button>
    </div>
</body>
</html>