---
layout: base_layouts/content.njk
---
{% import 'macros.njk' as macros with context %}

{% if info_cards.home_info.settings.position == "top" %}
{{ macros.info_cards(info_cards.home_info) }}
{% endif %}

{{content | safe }}

{{ macros.footer_link(footer_links.home_footer_links) }}

{% if info_cards.home_info.settings.position == "bottom" %}
{{ macros.info_cards(info_cards.home_info) }}
{% endif %}