---
layout: base_layouts/content.njk
---
{% import 'macros.njk' as macros with context %}

{{ macros.grid_short_info(header_infos.research_header_info) }}

{{ content | safe }}

{{ macros.footer_link(footer_links.research_footer_links) }}